<script>
    function showReviewModal(imageObj) {
        // Clear messages
        $('#messageField').val("");

        $('#accept-btn').click(function (e) {
            imageObj["manual_segmentation"]["status"] = "valid";
            let message = $('#messageField').val();
            sendMessage(imageObj, message);
            sendRowUpdateToServer(imageObj);
            e.preventDefault();
            location.reload();
            $('#reviewModal').modal('hide');
        });

        $('#reject-btn').click(function (e) {
            imageObj["manual_segmentation"]["status"] = "rejected";
            let message = $('#messageField').val();
            sendMessage(imageObj, message);
            sendRowUpdateToServer(imageObj);
            e.preventDefault();
            location.reload();
            $('#reviewModal').modal('hide');
        });

        // Show modal
        $('#reviewModal').modal('show');
    }
</script>

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Content body -->
        <div class="modal-content">

            <!-- Title -->
            <div class="modal-header">
                <h2 class="modal-title">Review</h2>
            </div>

            <div class="modal-body">
                <form id="reviewForm">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <!-- New  message -->
                    <div class="form-group">
                        <label for="messageField">Message</label>
                        <textarea class="form-control" id="messageField"></textarea>
                    </div>

                    <!-- Buttons -->
                    <div class="modal-footer">
                        <button class="btn btn-danger" name="reject-btn"
                                id="reject-btn">Reject
                        </button>
                        <button class="btn btn-primary" name="accept-btn"
                                id="accept-btn">Accept
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
