# Configuration for the test coverage tool (py.test --cov)
#
# Copyright 2014 SolidBuilds.com. All rights reserved
#
# Authors: Ling Thio <ling.thio@gmail.com>

[run]
omit = app/startup/reset_db.py

[report]
show_missing = True
