{% extends "layout.html" %}
{% block content %}
<script type="module" class="init">
    $(document).ready(function () {
        // Table definition
        $('#project_overview_table').DataTable({
            ajax: {
                url: "/data/project_overview",
            },
            columns: [
                {
                    data: null,
                    render: function (data) {
                        return '<button class="btn btn-success chooseProjectButton">Choose</button>';
                    }
                },
                {data: 'short_name'},
                {data: 'long_name'},
                {
                    data: null,
                    render: function (data) {
                        return '<button class="btn btn-primary editProjectButton">Settings</button>';
                    }
                },

            ],
            columnDefs: [{"className": "dt-center", "targets": "_all"}],
            autoWidth: false
        });

        // Handle interactions with the table and its elements
        $('#project_overview_table').on('draw.dt', function () {
            // Choose button
            $('.chooseProjectButton').click(function () {
                // Get project object of this row
                let table = $('#project_overview_table').DataTable();
                let row = $(this).closest('tr');
                let rowObject = table.row(row).data();

                // Find project id and redirect to correct page
                let projectID = rowObject['id'];
                window.location.replace("/project/" + projectID)
            });

            // Edit button
            $('.editProjectButton').click(function () {
                // Get project object of this row
                let table = $('#project_overview_table').DataTable();
                let row = $(this).closest('tr');
                let projectObject = table.row(row).data();
                let allUsers = table.ajax.json()["users"];

                show_project_modal(projectObject, allUsers);
            });

            // New project
            $('#addProjectButton').click(function () {
                let table = $('#project_overview_table').DataTable();
                let allUsers = table.ajax.json()["users"];
                show_project_modal(null, allUsers)
            });
        });
    });

</script>
<div>
    <h1>Project Overview</h1>
    <table id="project_overview_table" class="table table-striped table-hover dt-responsive nowrap">
        <thead>
        <tr>
            <th> Project</th>
            <th> Short Name</th>
            <th> Long Name</th>
            <th> Edit</th>
        </tr>
        </thead>
    </table>

    <div>
        <button class="btn btn-primary" id="addProjectButton">Add Project</button>
        <button class="btn btn-primary" id="addUsersButton" onclick="window.location.href = '/users';">Users</button>
    </div>

</div>
{% endblock %}

{% block forms %}
{% include 'forms/project_configuration_form.html' %}
{% endblock %}
