{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" class="init">
    // Function to create drop down menu for user assignment
    let users = [
        {% for user in data.users %}
            '{{user}}',
        {% endfor %}
    ];
    function createSelect(selItem) {

        var sel = "<select><option>Assign</option>";
        for (var i = 0; i < users.length; ++i) {
            if (users[i] == selItem) {
                sel += "<option selected value = '" + users[0] + "' >" + users[i] + "</option>";
            } else {
                sel += "<option  value = '" + users[0] + "' >" + users[i] + "</option>";
            }
        }
        sel += "</select>";
        return sel;
    }

    // Save meta data like project id, user id and role
    let project_id = {{data.active_project.id}};
    let user_id = {{data.user.id}};
    let role = '{{data.role}}';
    $(document).ready(function () {
        $('#admin_overview_table').DataTable({
            serverSide: true,
            ajax: {
                url: "/project_data",
                beforeSend: function (request) {
                    request.setRequestHeader("project_id", project_id);
                    request.setRequestHeader("user_id", user_id);
                    request.setRequestHeader("role", role);
                }
            },
            columns: [
                {data: 'project_id'},
                {data: 'name'},
                {
                    data: null,
                    render:
                        function(data){return createSelect(data);}
                },
                {data: 'manual_segmentation.status'},
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<button class="btn"><i class="fa fa-trash"></i></button>';
                    }
                },

            ],
            dom: '<"top"f>rt<"bottom"lp><"clear">'
        });
    });

</script>
<table id="admin_overview_table" class="display" style="width:100%">
    <thead>
    <tr>
        <th> Project </th>
        <th> Data ID</th>
        <th> Assigned To</th>
        <th> Status</th>
        <th> Delete</th>
    </tr>
    </thead>
</table>
<button>Add Data</button>
{% endblock %}
