<!-- Project configuration modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <script>
        function add_remove_button_functionality() {
            /**
             * Add functionality to user remove buttons
             *
             */
            console.log("lol");
            $(document).on('click', '.btn-remove', function (e) {
                $(this).parent().parent().remove();
            });

        }

        /**** Functionality to add multiple users to project ****/
        $(function () {
            $(document).on('click', '.btn-add', function (e) {
                e.preventDefault();
                // Find container and div from last user
                let userContainer = $('.input-group');
                let lastEntry = $(userContainer).children().last();

                // Add new user by cloning last entry
                $(lastEntry.clone()).insertAfter(lastEntry);

                add_remove_button_functionality();
            })
        });

        $(document).ready(function () {
            add_remove_button_functionality();
        });

    </script>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{data.active_project.name}} configuration</h2>
            </div>
            <div class="modal-body">
                <form action="/project_change_submission" method="post" role="form">
                    {{ data.project_form.hidden_tag() }}
                    <div class="form-group row">
                        <label for="short_name" class="col-sm-4 col-form-label">Short Name</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="short_name" name="short_name" value="{{data.active_project.short_name}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="long_name" class="col-sm-4 col-form-label">Long Name</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="long_name" name="long_name" value="{{data.active_project.long_name}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Project Description</label>
                        <textarea class="form-control" id="description" rows="4" name="description">{{data.active_project.description}}</textarea>
                    </div>
                    <div class="form-group row">
                        <h3>Users</h3>
                    </div>
                    <div class="form-group input-group">
                        {% for current_user in data.project_users %}
                        <div class="form-row align-items-center" id="user_container">
                            <div class="col-auto">
                                <select class="custom-select" name="users[]">
                                    {% for user in data.all_users %}
                                    {% if current_user.email == user.email%}
                                    <option selected value={{user.id}}>{{current_user}}</option>
                                    {% else %}
                                    <option value={{user.id}}>{{user}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-auto">
                                <select class="custom-select" name="roles[]">
                                    {% for current_role in ["admin", "reviewer", "user"] %}
                                    {% if current_user.role == current_role %}
                                    <option selected>{{current_role}}</option>
                                    {% else %}
                                    <option>{{current_role}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-remove" type="button"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-add"><i class="fa fa-plus-circle fa-4x"
                                                                 style="color: #0099CC;"></i></button>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" name="delete-btn">Delete Project</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="submit-btn">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
