<div id="header-div">
    <ul class="nav nav-tabs py-4">

        <li class="nav-item"><a class="nav-link {%if data.role == 'admin'%}active{%else%} {%endif%}"
                                href="/projects/{{data.active_project.id}}/admin">Admin</a></li>
        <li class="nav-item"><a class="nav-link {%if data.role == 'review'%}active{%else%} {%endif%}"
                                href="/projects/{{data.active_project.id}}/validation">Validation</a></li>
        <li class="nav-item"><a class="nav-link {%if data.role == 'segmentation'%}active{%else%} {%endif%}"
                                href="/projects/{{data.active_project.id}}/segmentation">Segmentation</a></li>
        <li class="nav-item"><a class="nav-link {%if data.role == 'admin'%}active{%else%} {%endif%}"
                                href="/projects/{{data.active_project.id}}/admin">Evaluate</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user.logout') }}">Sign out</a></li>
    </ul>


</div>