<!-- Data configuration modal -->
<div class="modal fade" id="newDataModal" tabindex="-1" role="dialog" aria-labelledby="newDataModal"
     aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Upload new data</h2>
            </div>
            <div class="modal-body">
                <form action="/new_data" method=post enctype=multipart/form-data>
                    {{ data.project_form.hidden_tag() }}
                    <div class="form-group">
                        <label for="image">Upload New Image</label>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input image-file" id="image" name="image">
                            <label class="custom-file-label" for="image">Choose file</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image">Upload New Segmentation</label>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input segmentation-file" id="segmentation" name="segmentation">
                            <label class="custom-file-label" for="segmentation">Choose file</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" name="upload-btn"
                                id="new-data-upload-btn">Upload
                        </button>
                    </div>
                </form>
                <script>
                    // Add the following code if you want the name of the file appear on select
                    $(".custom-file-input").on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                    });
                </script>
            </div>
        </div>
    </div>
</div>
