<!-- Data configuration modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModal"
     aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="reviewModalHeaderTitle"></h2>
            </div>
            <div class="modal-body">
                <form action="/segmentation_review" method=post enctype=multipart/form-data>
                    {{ data.project_form.hidden_tag() }}
                    <div class="form-group">

                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="radio_remitted"
                                   name="radio_remitted">
                            <label class="custom-control-label" for="radio_remitted">Remit</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="radio_valid"
                                   name="radio_valid">
                            <label class="custom-control-label" for="radio_valid">Validate</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="review-submit-btn" name="submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
