{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" class="init">

    var editor; // use a global for the submit and return data

    var table_def = [
        {
            type: 'readonly',
            label: 'ID',
            data: 'id',
            name: 'contrast_type_id',
            visible: false
        },
        {
            label: 'Name',
            data: 'name'
        },
        {
            label: 'Accession Number',
            data: 'accession_number'
        },
        {
            type: 'readonly',
            label: 'Status',
            data: 'manual_segmentation.status'
        },
        {
            type: 'select',
            label: 'Split',
            data: 'split'
        },
        {  
            label: 'Body Region',
            data: 'body_region'
        },
        {
            label: 'Modality',
            data: 'modality'
        },
        {
            type: 'select',
            label: 'Contrast',
            data: 'contrast_type'
        },
        {
            label: 'Series Name',
            data: 'series_name',
            visible: false
        },
        {
            label: 'Series Description',
            data: 'series_description',
            visible: false
        },
        {
            label: 'Series Number',
            data: 'series_number',
            visible: false
        },
        {
            label: 'Series Instance UID',
            data: 'series_instance_uid',
            visible: false
        },
        {
            label: 'Patient Name',
            data: 'patient_name',
            visible: false
        },
        {
            type: 'datetime',
            label: 'DOB',
            data: 'patient_dob',
            visible: false
        },
        {
            type: 'datetime',
            label: 'Insert Date',
            data: 'insert_date',
            visible: false
        },
        {
            type: 'datetime',
            label: 'Updated',
            data: 'last_updated',
            visible: false
        },
        {
            label: 'Institution',
            data: 'institution',
            visible: false
        },
        {
            label: 'Custom 1',
            data: 'custom_1',
            visible: false
        },
        {
            label: 'Custom 2',
            data: 'custom_2',
            visible: false
        },
        {
            label: 'Custom 3',
            data: 'custom_3',
            visible: false
        },
        {
            type: 'upload',
            label: 'Image',
            data: 'upload_image'
        },
        {
            type: 'upload',
            label: 'Mask',
            data: 'upload_mask'
        },
    ];
 

    $(document).ready(function () {

        setup_data_table(table_def, '#datatable', '#toggle_columns');

        editor = new $.fn.dataTable.Editor( {
            ajax: '/project/{{current_project.id}}/case/update',
            table: '#datatable',
            idSrc:  'id',
            fields: table_def
        } );

        datatable = $('#datatable').DataTable( {
            serverSide: true,
            dom: "Bfrtip",
            select: true,
            stateSave: true,
            ajax: {
                url: '/project/{{current_project.id}}/case/data',
                data: function (args) {
                    return {"args": JSON.stringify(args)};
                    }
            },

            columns: table_def,
            columnDefs: table_def, 
            
            buttons: [
                    { extend: 'pageLength'},
                    { extend:'colvis' },
                    { extend: 'create', editor: editor },
                    { extend: 'edit',   editor: editor },
                    { extend: 'remove', editor: editor }
            ]
        } );

    });

</script>


<table id="datatable" class="table table-striped table-hover dt-responsive nowrap">
    <thead>
    <tr>
        <!-- table headers are added programmatically -->
    </tr>
    </thead>
</table>


{% endblock %}

{% block forms %}
{% include 'forms/image_upload_form.html' %}
{% include 'forms/segmentation_upload_form.html' %}
{% include 'forms/download_form.html' %}
{% endblock %}
