{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" class="init">
    $(document).ready(function () {
        // Define custom table columns and add them to general data columns
        let columns = [
            {
                name: 'status', data: null, render: function (data) {
                    return createStatusLabel(data, true);
                }
            },
            {
                data: null,
                render: createUserAssignSelect
            },
            {
                data: null,
                render: createSplitAssignSelect
            },
            {
                data: null,
                render: function (data, type, row) {
                    return '<button class="btn btn-primary segmentationUploadButton">Upload</button> ' +
                        '<button style="margin-left: 30px; margin-right: 30px;" class="btn btn-primary dataDownloadButton">Download</button>' +
                        '<button class="btn btn-add rowDeleteButton"><i class="fa fa-trash" style="font-size:36px;"></i></button>';
                }
            },
        ];
        generalTable["columns"] = generalTable["columns"].concat(columns);

        // Initialize table
        $('#datatable').DataTable(generalTable);

        // Register add data button
        $('#imageUploadModalButton').click(function () {
            let table = $('#datatable').DataTable();
            let projectObj = table.ajax.json()["project"];
            showImageUploadModal(projectObj);
        });


        // Make sure that every time an assignment is changed, an update is sent to the server
        $('#datatable').on('draw.dt', function () {
            registerDatatableElements()
        });
    });

</script>
<table id="datatable" class="table table-striped table-hover dt-responsive nowrap">
    <thead>
    <tr>
        <th></th>
        <th> Name</th>
        <th> Patient Name</th>
        <th> Modality</th>
        <th> Contrast Type</th>
        <th> Accession Number</th>
        <th> Insert Date</th>
        <th> Last Updated</th>
        <th> Last Message</th>

        <th> Status</th>
        <th> Assign</th>
        <th> Split</th>
        <th> Data</th>
    </tr>
    </thead>
</table>

<button class="btn btn-primary" id="imageUploadModalButton">Upload Image</button>
{% endblock %}

{% block forms %}
{% include 'forms/image_upload_form.html' %}
{% include 'forms/segmentation_upload_form.html' %}
{% include 'forms/download_form.html' %}
{% endblock %}
