<script>
    function downloadCase(rowObject) {
        let project_id = rowObject["project_id"];
        let image_name = rowObject["name"];
        console.log(rowObject);

        $.ajax({
            url: '/data/download_case_data',
            type: 'GET',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('project_id', project_id);
                xhr.setRequestHeader('image_name', image_name);
            },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (data) {
                console.log(data)
                let a = document.createElement('a');
                let url = window.URL.createObjectURL(data);
                a.href = url;
                a.download = 'data.zip';
                document.body.append(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                location.reload();
            }
        });
    }

    // Function to make call to API after row has been updated
    function sendRowUpdateToServer(rowObject) {
        $.ajax({
            type: 'POST',
            url: '/data/update_image_meta_data',

            data: JSON.stringify(rowObject),
            success: function(data){
                console.log("success");
            },
            error: function (e) {
                console.log(e);
            },

            dataType: "json",
            contentType: "application/json"
        });
    }

    // Function to create label for current status
    function createStatusLabel(rowObject) {
        // Fetch users of current project
        let table = $('#admin_overview_table').DataTable();
        let status = rowObject["manual_segmentation"]["status"];
        let assignee = rowObject["manual_segmentation"]["assignee"];

        let status_strings = {
            "not_open": "Not Open",
            "assigned": "Assigned",
            "open_for_segmentation": "Open For Segmentation",
            "rejected": "Rejected",
            "valid": "Valid",
            "submitted": "Submitted"
        };
        if (assignee != null && status === "assigned"){
            return "Assigned to " + assignee["first_name"] +  " " + assignee["last_name"]
        } else {
            return status_strings[status];
        }
    }
</script>