<!DOCTYPE html>
<html lang="en">
<head>
    <!-- These 3 meta tags MUST come first -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Image Segmentation Study Manager</title>


    <!-- JS libraries-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

    <!-- CSS libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <!-- Custom files -->
    <script src="{{ url_for('static', filename='messenger.js') }}"></script>
    <script src="{{ url_for('static', filename='js_util.js') }}"></script>
    <script src="{{ url_for('static', filename='datatable_util.js') }}"></script>

</head>
<script>
    // Setup ajax calls to flask server
    let csrftoken = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });

    // Save meta data like project id, user id and role for later usage
    {% if data %}
    let project_id = {{data.current_project.id}};
    {% endif %}

</script>

<body>
{% block body %}
<div id="main-div" class="content" >
    {% include 'navigation_bar.html' %}
    {% include 'flash_messages.html' %}
    <div style="margin: 50px;">
        {% block content %}{% endblock %}
    </div>

</div>

{% block forms %}{% endblock %}
{% endblock %}


</body>

</html>
