<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <div class="navbar-collapse collapse">
                <form class="navbar-nav ml-auto">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/project/overview">Projects</button>
                </form>
            </div>

            <!-- project specific navigation -->
            {% if data and "current_project" in data %}

            {% if is_project_admin %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {%if not is_project_admin %} disabled {%endif%}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/project/{{data.current_project.id}}/admin/cases">Cases</a>
                    <a class="dropdown-item" href="/project/{{data.current_project.id}}/admin/models">Models</a>
                    <div class="dropdown-divider"></div>
                    {% if is_technical_admin %}
                    <a class="dropdown-item" href="/admin/flask_admin">Flask Admin</a>
                    {% endif %}
                </div>
            </li>
            {% endif %}

            {% if is_project_reviewer %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {%if current_user not in data.current_project.role_reviewers%} disabled {%endif%}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Review
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/project/{{data.current_project.id}}/review/cases">Cases</a>
                </div>
            </li>
            {% endif %}

            {% if is_project_user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {%if current_user not in data.current_project.role_users%} disabled {%endif%}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Segmentation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/project/{{data.current_project.id}}/segmentation/cases">Cases</a>
                </div>
            </li>
            {% endif %}

            {% endif %}

        </ul>
    </div>

    {% if data and "current_project" in data %}
    <a class="navbar-brand mx-auto" href="#">{{data.current_project.long_name}}</a>
    {% endif %}

    <div class="navbar-collapse collapse">
        <form class="navbar-nav ml-auto">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="{{ url_for('user.logout') }}">sign out</button>
        </form>
    </div>
  </nav>