<div id="header-div">
    <nav class="navbar navbar-expand-lg bg-light justify-content-between">
        <form class="form-inline">
            <button class="btn btn-success btn-lg" type="submit" formaction="/projects/overview">
                Choose Project
            </button>
        </form>
        <form class="form-inline">
            {% if data %}
            <h1 class="display-3">{{data.current_project.long_name}}</h1>
            {% endif %}
        </form>

        <form class="form-inline">
            <button class="btn btn-primary btn-lg" type="submit" formaction="{{ url_for('user.logout') }}">Sign out
            </button>
        </form>
    </nav>
    {% if data and "current_project" in data %}
    <nav class="navbar navbar-light bg-light">
        <ul class="nav nav-tabs py-4">
            <li class="nav-item"><a class="nav-link {%if data.role == 'admin'%}active{%else%} {%endif%} {%if data.user.role != 'admin'%} disabled {%endif%}"
                                    href="/projects/{{data.current_project.id}}/admin">Admin</a></li>
            <li class="nav-item"><a class="nav-link {%if data.role == 'review'%}active{%else%} {%endif%} {%if data.user.role != 'admin' and data.user.role != 'reviewer'%} disabled {%endif%}"
                                    href="/projects/{{data.current_project.id}}/review">Review</a></li>
            <li class="nav-item"><a class="nav-link {%if data.role == 'segmentation'%}active{%else%} {%endif%}"
                                    href="/projects/{{data.current_project.id}}/segmentation">Segmentation</a></li>
            <li class="nav-item"><a class="nav-link {%if data.role == 'evaluation'%}active{%else%} {%endif%} disabled"
                                    href="/projects/{{data.current_project.id}}/admin">Evaluation</a></li>
        </ul>
    </nav>
    {% endif %}
</div>
