{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" class="init">

    $(document).ready(function () {
        // Table definition
        let columns = [
            {name: 'status', data: null, render: function(data){return createStatusLabel(data, false);}},
            {
                data: null,
                render: createUserAssignSelect
            },
            {
                data: null,
                render: createSplitAssignSelect
            },
            {
                data: null,
                render: function (data, type, row) {
                    return '<button class="btn btn-danger reviewButton">Review</i></button>';
                }
            },
            {
                data: null,
                render: function (data, type, row) {
                    return '<button style="margin-left: 30px" class="btn btn-primary dataDownloadButton">Download</button>';

                }
            },

        ];

        // Initialize table
        generalTable["columns"] = generalTable["columns"].concat(columns);
        $('#datatable').DataTable(generalTable);

        // Buttons/checkboxes functionality
        $('#datatable').on('draw.dt', function () {
            registerDatatableElements();
        });

    });

</script>
<table id="datatable" class="table table-striped table-hover dt-responsive nowrap">
    <thead>
    <tr>
        <th></th>
        <th> Name</th>
        <th> Patient Name</th>
        <th> Modality</th>
        <th> Contrast Type</th>
        <th> Accession Number</th>
        <th> Insert Date</th>
        <th> Last Updated</th>
        <th> Last Message</th>

        <th> Status</th>
        <th> Assign</th>
        <th> Split</th>
        <th> Review</th>
        <th> Data</th>
    </tr>
    </thead>
</table>

{% endblock %}

{% block forms %}
{% include 'forms/review_form.html' %}
{% include 'forms/download_form.html' %}
{% endblock %}
