{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" class="init">

    var table_def = [
        {
            title: 'Name',
            data: 'name'
        },
        {
            title: 'Patient Name',
            data: 'patient_name',
            visible: false
        },
        {
            title: 'Modality',
            data: 'modality'
        },
        
        {
            type: 'select',
            title: 'Contrast',
            data: 'contrast_type'
        },
        {
            title: 'Accession Number',
            data: 'accession_number'
        },
        {
            type: 'datetime',
            title: 'Insert Date',
            data: 'insert_date',
            visible: false
        },
        {
            type: 'datetime',
            title: 'Updated',
            data: 'last_updated',
            visible: false
        },
        // Missing: Last Message
        {
            type: 'readonly',
            title: 'Status',
            data: 'manual_segmentation.status'
        },
        {
            type: 'readonly',
            title: 'ID',
            data: 'id',
            name: 'contrast_type_id',
            visible: false
        },
        {
            type: 'select',
            title: 'Split',
            data: 'split'
        },
        {  
            title: 'Body Region',
            data: 'body_region'
        },
        {
            title: 'Series Name',
            data: 'series_name',
            visible: false
        },
        {
            title: 'Series Description',
            data: 'series_description',
            visible: false
        },
        {
            title: 'Series Number',
            data: 'series_number',
            visible: false
        },
        {
            title: 'Series Instance UID',
            data: 'series_instance_uid',
            visible: false
        },
        {
            type: 'upload',
            title: 'Image',
            data: 'upload_image'
        },
        {
            type: 'upload',
            title: 'Mask',
            data: 'upload_mask'
        },
    ];

    $(document).ready(function () {

        setup_data_table(table_def, '#datatable', '#toggle_columns');

        // Initialize table
        datatable = $('#datatable').DataTable( {
            serverSide: true,
            dom: "Bfrtip",
            select: true,
            stateSave: true,
            ajax: {
                url: '/api/data_pool/project/' + project_id + '/datatable',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: (args) => JSON.stringify(args),
                // uncomment following lines to print result, but it will not appear in the table then!
                // success: (data) => {
                //     console.log(data);
                //     return data;
                // }
            },

            columns: table_def,
            columnDefs: table_def, 

            scrollX: true,
            
            buttons: [
                    { extend: 'pageLength'},
                    { extend:'colvis' },
            ]
        } );

        // // Buttons/checkboxes functionality
        // $('#datatable').on('draw.dt', function () {
        //     registerDatatableElements();
        // });

    });

</script>
<table id="datatable" class="table table-striped table-hover nowrap">
    <thead>
    <tr>
        <!-- table headers are added programmatically -->
    </tr>
    </thead>
</table>

{% endblock %}

{% block forms %}
{% include 'forms/review_form.html' %}
{% include 'forms/download_form.html' %}
{% endblock %}
